<% layout("layouts/boilerplate") %>

<div class="row mt-5">
  <div class="col-md-8 offset-md-2">
    <div class="card text-center">
      <div class="card-body">
        <h1 class="display-4 text-danger">Error <%= statusCode %></h1>
        <p class="lead"><%= message %></p>
      </div>
    </div>
  </div>
</div>
