body {
    font-family: "Plus Jakarta Sans", sans-serif;
    min-height: 100vh;
    /* chatgpt added */
    display: flex;
    flex-direction: column;
    margin: 0;
}
/* Chatgpt added */
/* This wrapper pushes footer to bottom */
.page-wrapper {
    flex: 1;
}

/* navbar */
.navbar {
    height: 5rem;
    background-color: white;
}
.fa-compass {
   color: #fe434d; 
   font-size: 2rem;
}
.nav-link {
    color: #222222 !important;
}

/*  footer  */
.f-info-links a {
    text-decoration: none;
    color: #222222 !important;
}
.f-info-links a:hover {
    text-decoration: underline !important;
}
.f-info-links , .f-info-socials, .f-info-brand  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.2rem;
}
.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Cards */
.listing-card {
   border: none !important; 
   margin-bottom: 2rem;
}
.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body {
    padding: 0;
    text-align: center;
}
.card-text p {
    font-weight: 400 !important;
}
.card-text {
   white-space: nowrap;
    
}
.listing-link {
    text-decoration: none;
    color: #222222 !important;
}
.card-img-overlay {
   opacity: 0; 
}
.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* New Page */
.add-btn {
    background-color: #fe434d !important;
    border: none !important;
}

/*  Edit Page  */
.edit-btn {
    background-color: #fe434d !important;
    border: none !important;
}

/* Show Page */
.show-img {
    height: 30vh;
}
.btns {
    display: flex;
    gap: 1rem;
}
.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* Map */
#map {
    height: 400px;
    border-radius: 12px;
    margin-top: 1rem;
}
.custom-marker {
    background: none;
    border: none;
}
